.vlag-features {
  margin: 0 auto;
  max-width: 930px;
}

.vlag-features {
  font-family: Helvetica, Arial;
}

.vlag-features__item {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 30px 40px;
}

.vlag-features__item__content {
  padding-right: 1rem;
}

.vlag-features__item__content__title {
  margin: 0px 0px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-family: sans-serif;
}

.vlag-features__item__content__description,
.vlag-features__item__content__helper {
  margin: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.vlag-features__item__content__helper {
  margin-top: 16px;
  font-size: 12px;
  line-height: 18px;
}

.vlag-switch__item {
  position: relative;
}

.vlag-switch__item .vlag-switch__item__box {
  width: 50px;
  height: 30px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.vlag-switch__item-active .vlag-switch__item__box {
  background: #1890ff;
}

.vlag-switch__item-disabled .vlag-switch__item__box {
  background: rgba(0, 0, 0, 0.07);
}

.vlag-switch__item__dots {
  cursor: pointer;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  filter: drop-shadow(0px 2.72727px 5.45455px rgba(0, 35, 11, 0.2));
}

.vlag-switch__item-disabled .vlag-switch__item__dots,
.vlag-switch__item-disabled .vlag-switch__item__box {
  cursor: not-allowed;
}

.vlag-switch__item-active .vlag-switch__item__dots {
  transform: translateX(calc(100% - 3px));
}

@media screen and (max-width: 768px) {
  .vlag-features__item {
    margin-top: 12px;
    padding: 20px 30px;
  }
  .vlag-features__item__content__title {
    margin: 0px 0px 12px;
  }
  .vlag-features__item__content__description {
    font-size: 14px;
  }
  .vlag-features__item__content__helper {
    margin-top: 12px;
  }
}
